## SHARED
# ModelTemplate
public net.minecraft.data.models.model.ModelTemplate f_125585_ # model
public net.minecraft.data.models.model.ModelTemplate f_125586_ # requiredSlots
public net.minecraft.data.models.model.ModelTemplate f_125587_ # suffix

# PropertyDispatch
public net.minecraft.data.models.blockstates.PropertyDispatch m_125293_()Ljava/util/Map; # getEntries
public net.minecraft.data.models.blockstates.PropertyDispatch m_7336_()Ljava/util/List; # getDefinedProperties

# MultiPartGenerator
public net.minecraft.data.models.blockstates.MultiPartGenerator f_125200_ # parts
public net.minecraft.data.models.blockstates.MultiPartGenerator$Entry f_125236_ # variants
public net.minecraft.data.models.blockstates.MultiPartGenerator$ConditionalEntry f_125224_ # condition

# MultiVariantGenerator
public net.minecraft.data.models.blockstates.MultiPartGenerator$Entry
public net.minecraft.data.models.blockstates.MultiPartGenerator$ConditionalEntry
public net.minecraft.data.models.blockstates.MultiVariantGenerator f_125247_ # baseVariants
public net.minecraft.data.models.blockstates.MultiVariantGenerator f_125249_ # declaredPropertySets

# Variant
public net.minecraft.data.models.blockstates.Variant f_125499_ # values

# VariantProperty
public net.minecraft.data.models.blockstates.VariantProperty$Value f_125559_ # value

# VariantProperties
public net.minecraft.data.models.blockstates.VariantProperties$Rotation f_125534_ # value

# RenderStateShard
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name

# DoorBlock
public net.minecraft.world.level.block.DoorBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;Lnet/minecraft/world/level/block/state/properties/BlockSetType;)V # <init>

# TrapDoorBlock
public net.minecraft.world.level.block.TrapDoorBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;Lnet/minecraft/world/level/block/state/properties/BlockSetType;)V # <init>

# StairBlock
public net.minecraft.world.level.block.StairBlock <init>(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V # <init>

# ButtonBlock
public net.minecraft.world.level.block.ButtonBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;Lnet/minecraft/world/level/block/state/properties/BlockSetType;IZ)V # <init>

# PressurePlateBlock
public net.minecraft.world.level.block.PressurePlateBlock <init>(Lnet/minecraft/world/level/block/PressurePlateBlock$Sensitivity;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;Lnet/minecraft/world/level/block/state/properties/BlockSetType;)V # <init>

# BlockSetType
public net.minecraft.world.level.block.state.properties.BlockSetType m_272115_(Lnet/minecraft/world/level/block/state/properties/BlockSetType;)Lnet/minecraft/world/level/block/state/properties/BlockSetType; # register

# WoodType
public net.minecraft.world.level.block.state.properties.WoodType m_61844_(Lnet/minecraft/world/level/block/state/properties/WoodType;)Lnet/minecraft/world/level/block/state/properties/WoodType; # register

# Item
public net.minecraft.world.item.Item$Properties m_246768_([Lnet/minecraft/world/flag/FeatureFlag;)Lnet/minecraft/world/item/Item$Properties; # requiredFeatures

# BlockFamilies
public net.minecraft.data.BlockFamilies m_175935_(Lnet/minecraft/world/level/block/Block;)Lnet/minecraft/data/BlockFamily$Builder; # familyBuilder

# Camera
public net.minecraft.client.Camera m_90572_(FF)V # setRotation

# TextureSlot
public net.minecraft.data.models.model.TextureSlot m_125900_(Ljava/lang/String;Lnet/minecraft/data/models/model/TextureSlot;)Lnet/minecraft/data/models/model/TextureSlot; # create
public net.minecraft.data.models.model.TextureSlot m_125898_(Ljava/lang/String;)Lnet/minecraft/data/models/model/TextureSlot; # create

# OreVeinifier
public net.minecraft.world.level.levelgen.OreVeinifier$VeinType
public net.minecraft.world.level.levelgen.OreVeinifier$VeinType f_209674_ # minY
public net.minecraft.world.level.levelgen.OreVeinifier$VeinType f_209675_ # maxY

# NoiseRouterData
public net.minecraft.world.level.levelgen.NoiseRouterData m_255262_(Lnet/minecraft/core/HolderGetter;Lnet/minecraft/core/HolderGetter;ZZ)Lnet/minecraft/world/level/levelgen/NoiseRouter; # overworld
public net.minecraft.world.level.levelgen.NoiseRouterData m_224443_(Lnet/minecraft/world/level/levelgen/DensityFunction;IIIIDIID)Lnet/minecraft/world/level/levelgen/DensityFunction; # slide
public net.minecraft.world.level.levelgen.NoiseRouterData m_212271_(Lnet/minecraft/world/level/levelgen/DensityFunction;Lnet/minecraft/world/level/levelgen/DensityFunction;)Lnet/minecraft/world/level/levelgen/DensityFunction; # noiseGradientDensity
public net.minecraft.world.level.levelgen.NoiseRouterData m_224453_(Lnet/minecraft/world/level/levelgen/DensityFunction;Lnet/minecraft/world/level/levelgen/DensityFunction;)Lnet/minecraft/world/level/levelgen/DensityFunction; # splineWithBlending
public net.minecraft.world.level.levelgen.NoiseRouterData m_209471_(Lnet/minecraft/world/level/levelgen/DensityFunction;Lnet/minecraft/world/level/levelgen/DensityFunction;III)Lnet/minecraft/world/level/levelgen/DensityFunction; # yLimitedInterpolatable

# TerrainProvider
public net.minecraft.data.worldgen.TerrainProvider m_236622_(Lnet/minecraft/util/ToFloatFunction;Lnet/minecraft/util/ToFloatFunction;Lnet/minecraft/util/ToFloatFunction;FZLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # getErosionFactor
public net.minecraft.data.worldgen.TerrainProvider m_236572_(FFFF)F # calculateSlope
public net.minecraft.data.worldgen.TerrainProvider m_236577_(Lnet/minecraft/util/ToFloatFunction;FFFFFFLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # ridgeSpline
public net.minecraft.data.worldgen.TerrainProvider m_236586_(Lnet/minecraft/util/ToFloatFunction;FLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # buildWeirdnessJaggednessSpline
public net.minecraft.data.worldgen.TerrainProvider m_236607_(Lnet/minecraft/util/ToFloatFunction;Lnet/minecraft/util/ToFloatFunction;FFLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # buildRidgeJaggednessSpline
public net.minecraft.data.worldgen.TerrainProvider m_236613_(Lnet/minecraft/util/ToFloatFunction;Lnet/minecraft/util/ToFloatFunction;Lnet/minecraft/util/ToFloatFunction;FFFFLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # buildErosionJaggednessSpline
public net.minecraft.data.worldgen.TerrainProvider m_236590_(Lnet/minecraft/util/ToFloatFunction;FZLnet/minecraft/util/ToFloatFunction;)Lnet/minecraft/util/CubicSpline; # buildMountainRidgeSplineWithPoints
public net.minecraft.data.worldgen.TerrainProvider m_236568_(FFF)F # mountainContinentalness
public net.minecraft.data.worldgen.TerrainProvider m_236566_(F)F # calculateMountainRidgeZeroContinentalnessPoint

# HierarchicalModel
public net.minecraft.client.model.HierarchicalModel f_233379_ # ANIMATION_VECTOR_CACHE

# ServerGamePacketListenerImpl
public net.minecraft.server.network.ServerGamePacketListenerImpl f_9742_ # connection

# RecipeProvider
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.data.recipes.RecipeProvider f_236355_ # recipePathProvider
public net.minecraft.data.recipes.RecipeProvider f_236356_ # advancementPathProvider

# ModelProvider
public-f net.minecraft.data.models.ModelProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.data.models.ModelProvider m_252989_(Lnet/minecraft/data/CachedOutput;Ljava/util/Map;Ljava/util/function/Function;)Ljava/util/concurrent/CompletableFuture; # saveCollection
public net.minecraft.data.models.ModelProvider f_236326_ # modelPathProvider
public net.minecraft.data.models.ModelProvider f_236325_ # blockStatePathProvider

# RegistriesDatapackGenerator
public-f net.minecraft.data.registries.RegistriesDatapackGenerator m_6055_()Ljava/lang/String; # getName

# TagsProvider
public-f net.minecraft.data.tags.TagsProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.data.tags.TagsProvider f_275754_ # contentsDone
public net.minecraft.data.tags.TagsProvider f_273855_ # parentProvider
public net.minecraft.data.tags.TagsProvider f_126543_ # builders

# LootTableProvider
public-f net.minecraft.data.loot.LootTableProvider m_6055_()Ljava/lang/String; # getName
public net.minecraft.data.loot.LootTableProvider f_124431_ # LOGGER
public net.minecraft.data.loot.LootTableProvider f_236267_ # pathProvider
public net.minecraft.data.loot.LootTableProvider f_243940_ # requiredTables
public net.minecraft.data.loot.LootTableProvider f_124434_ # subProviders

# Enchantment
public net.minecraft.world.item.enchantment.Enchantment <init>(Lnet/minecraft/world/item/enchantment/Enchantment$Rarity;Lnet/minecraft/world/item/enchantment/EnchantmentCategory;[Lnet/minecraft/world/entity/EquipmentSlot;)V # <init>
public net.minecraft.world.item.enchantment.Enchantment f_44671_ # slots

# MobEffect
public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V # <init>

# RegistrySetBuilder
public net.minecraft.core.RegistrySetBuilder f_254732_ # entries

# RegistriesDatapackGenerator
public net.minecraft.data.registries.RegistriesDatapackGenerator f_254743_ # output
public net.minecraft.data.registries.RegistriesDatapackGenerator f_254747_ # registries
public net.minecraft.data.registries.RegistriesDatapackGenerator m_254918_(Lnet/minecraft/data/CachedOutput;Lnet/minecraft/core/HolderLookup$Provider;Lcom/mojang/serialization/DynamicOps;Lnet/minecraft/resources/RegistryDataLoader$RegistryData;)Ljava/util/Optional; # dumpRegistryCap
public net.minecraft.data.registries.RegistriesDatapackGenerator m_255283_(Ljava/nio/file/Path;Lnet/minecraft/data/CachedOutput;Lcom/mojang/serialization/DynamicOps;Lcom/mojang/serialization/Encoder;Ljava/lang/Object;)Ljava/util/concurrent/CompletableFuture; # dumpValue

# RegistryStub
public net.minecraft.core.RegistrySetBuilder$RegistryStub
public net.minecraft.core.RegistrySetBuilder$RegistryStub <init>(Lnet/minecraft/resources/ResourceKey;Lcom/mojang/serialization/Lifecycle;Lnet/minecraft/core/RegistrySetBuilder$RegistryBootstrap;)V

# NetworkedRegistryData
public net.minecraft.core.RegistrySynchronization$NetworkedRegistryData
public net.minecraft.core.RegistrySynchronization$NetworkedRegistryData <init>(Lnet/minecraft/resources/ResourceKey;Lcom/mojang/serialization/Codec;)V

# RegistrySynchronization
public net.minecraft.core.RegistrySynchronization f_244438_ # NETWORKABLE_REGISTRIES

# FoodOnAStickItem
public net.minecraft.world.item.FoodOnAStickItem f_41305_ # consumeItemDamage

# BlockEntitySupplier
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier

# BlockEntityType
public-f net.minecraft.world.level.block.entity.BlockEntityType f_58915_ # validBlocks

# BoatItem
public net.minecraft.world.item.BoatItem f_220011_ # hasChest
public net.minecraft.world.item.BoatItem m_220016_(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/phys/HitResult;)Lnet/minecraft/world/entity/vehicle/Boat; # getBoat

# BoatEntity
public net.minecraft.world.entity.vehicle.Boat f_38281_ # lastYd
public net.minecraft.world.entity.vehicle.Boat f_38279_ # status

# SignRenderer
public net.minecraft.client.renderer.blockentity.SignRenderer m_278756_(Lnet/minecraft/world/level/block/entity/SignBlockEntity;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IILnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/block/SignBlock;Lnet/minecraft/world/level/block/state/properties/WoodType;Lnet/minecraft/client/model/Model;)V # renderSignWithText

## AT
# FireBlock
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable